@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
/* Reset -- Found this online seems to work fine for my purpouses.. i can overight without issues*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav,.dropdown, .dropdown-content, .dropbtn, .dropdown:hover, section {display: block;}
ol{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/* main CSS */

body {
    overflow-x: hidden;
    padding-top: 70px;
    background: black;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    width:100%;
    min-height:100%;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/*wrapper for whole page*/
.wrap
{
	
	width:70%;
	margin: 0 auto;
}
/*content div this wraps around all content on a page*/
.content
{
	padding-top: 65px ;
	text-align: center;
}
/*logo stuff*/
.logo
{
	text-align: center;
	padding: 20 0px;
	display: block;
}
/*setting up my footer*/
footer {
  text-align: center;
  padding: 3px;
  background-color: none;
  color: white;
  font-size: 1em;
  bottom: 0; 
  left: 0;
  z-index: 9;
  width: 100%;
}

footer a {
  text-align: center;
  padding: 3px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  bottom: 0; 
  left: 0;
  z-index: 9;
  width: 100%;
}

footer a:hover {
  text-align: center;
  padding: 3px;
  text-decoration: underline;
  color: rgb(130, 201, 225);
  font-size: 1em;
  bottom: 0; 
  left: 0;
  z-index: 9;
  width: 100%;
}

/*Nav Stuff*/

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    text-align: left;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: #303030;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #006e96d8;
    color: white;
}

/*This is my custom h2 tag*/
#proparagraph{
    text-align: center;
    color: white;
    font-size:1.5em;
}
/*This is my custom p tag*/
#prosubtitle {
  text-align: center;
  color: white;
  font-size:2em;
}
/*This is my custom p tag but smaller for some subsubtitles*/
#prosubsubtitle {
    text-align: center;
    color: white;
    font-size:1.5em;
  }

/*This is the start of the project wrapper*/

.project img {
  display: block;
  margin: auto;
  margin-top: 2%;
}

.project li {
      margin: auto;
      padding: 14px 16px;
      opacity: .8;
      text-align: center;
      justify-content: left;
      align-items: left;
      color: white;
      float: center;
}
.project body {
  background: #1A1E23;
  font-family: "Lato", "sans-serif";
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content p
{
	color: #fff;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1em;
}
._14 {
    font-size: .9em;
    color: white;
    margin-top: 10px;
}
ul {
    padding:0;
    list-style: none;
}

/*this is to invert photos if they are too dark or too light*/
.invert {
    filter: invert(100%);
}

/* The dropdown nav button container for JavaScript Projects */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(1, 1, 1);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: white;
    background-color: #006e96d8;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    color: white;
    background-color: #006e96d8;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .RGB_Values h2
{
	text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px; 
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 25px;
  background: #a89c9c;
  cursor: pointer;
}

#R
{
	background:red;
}
#G
{
	background:green;
}
#B
{
	background:blue;
}